.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  /*
    USER MICROSERVICES
*/

  p#regHinweisPflichtfeld {
    font-size: 10px;
    margin-top:50px;
  }
  form#registrierungsFormular {
    border-width: 5px;
    border-color: #01579b;
    margin: 5px;
    margin-top: 10px;
  }

  form#profilAendernFormular {
    border-width: 5px;
    border-color: #01579b;
    margin: 5px;
    margin-top: 10px;
  }

  form#loginFormular {
    border-width: 5px;
    border-color: #01579b;
    margin: 5px;
    margin-top: 10px;
  }

  input#regNamensfeld{
    position: absolute;
    left: 180px;
    height: 20px;
  }

  input#regPasswort{
    position: absolute;
    left: 180px;
    height: 20px;
  }

  input#regEmail{
    position: absolute;
    left: 180px;
    height: 20px;
  }

  textArea#regBeschreibung {
    position: absolute;
    left: 180px;
  }

  input#buttonBild {
    width: 150px;
    height: 40px;
    margin: 20px;
  }

  input#regButton {
    background-color: #84FFE4;
    color: black;
    width: 150px;
    border: 5px;
    padding: 12px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 40px;
    box-shadow:  0px 3px 10px rgba(50, 180, 165, 0.75);
  }

  .dateiHochladen{
    content: 'Profilbild hochladen';
  }

  h5#labelBild{
    margin-top: 15px;
    margin-bottom: 0px;
  }

  img#uploadbild{
    width: 150px;
    height: 150px;
  }
  div#label{
    margin-top: 10px;
  }

  .dateiHochladen::-webkit-file-upload-button {
    background-color: #84FFE4;
    color: black;
    border: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow:  0px 3px 7px rgba(50, 180, 165, 0.75);
  }
}
