html, body, div {
    height: 100%;
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

#top-menu {
    background-color: #3c3c3c;
    align-content: flex-start;
}

#top-menu .h1 {
    vertical-align: middle;
    margin: auto;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 2.4em;
    height: 100%;
}

#top-menu button {
    background-color: #84FFE4;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin-right: 5px;
}

#top-menu button:hover {
    background-color: #84FFFF;
}

#top-menu .horizontal-divider {
    margin:auto;
    margin-left: 10px;
}

#logo {
    height: 90%;
    border-radius: 200px;
    margin: 0px;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 2%;
    width: 100%;
    background-color: #3c3c3c;
    vertical-align: middle;
    text-align: center;
}

.horizontal-divider {
    height: 100%;
    width: 0px;
    border: 1px solid #84FFE4;
    margin-left: 5px;
    margin-right: 5px;
}



/*
    LANDING PAGE
*/
#landing_top {
    position: relative;
    z-index: -10;
    height: 1000px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../img/cover1.jpg");
}

#how_it_works {
    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 2%;
}

#how_it_works img {

    width: 400px;
}

#how_it_works div#imgaes {
}

div#images div {
    display: inline;
}

div#images div span {
    display: inline-block;
    width: inherit;
}

/*
    USER MICROSERVICES
*/

p#regHinweisPflichtfeld {
    font-size: 10px;
    margin-top:50px;
}
form#registrierungsFormular {
        border-width: 5px;
        border-color: #01579b;
        margin: 5px;
        margin-top: 10px;
}

form#profilAendernFormular {
    border-width: 5px;
    border-color: #01579b;
    margin: 5px;
    margin-top: 10px;
}

form#loginFormular {
    border-width: 5px;
    border-color: #01579b;
    margin: 5px;
    margin-top: 10px;
}

input#regNamensfeld{
    position: absolute;
    left: 180px;
    height: 20px;
}

input#regPasswort{
    position: absolute;
    left: 180px;
    height: 20px;
}

input#regEmail{
    position: absolute;
    left: 180px;
    height: 20px;
}

textArea#regBeschreibung {
    position: absolute;
    left: 180px;
}

input#buttonBild {
    width: 150px;
    height: 40px;
    margin: 20px;
}

input#regButton {
    background-color: #84FFE4;
    color: black;
    width: 150px;
    border: 5px;
    padding: 12px;
    border-radius: 5px;
    margin-right: 20px;
    margin-top: 40px;
    box-shadow:  0px 3px 10px rgba(50, 180, 165, 0.75);
}

.dateiHochladen{
    content: 'Profilbild hochladen';
}

h5#labelBild{
    margin-top: 15px;
    margin-bottom: 0px;
}

img#uploadbild{
    width: 150px;
    height: 150px;
}
div#label{
    margin-top: 10px;
}

.dateiHochladen::-webkit-file-upload-button {
    background-color: #84FFE4;
    color: black;
    border: 5px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow:  0px 3px 7px rgba(50, 180, 165, 0.75);
}

div#userstat {
  margin-top: 1em;
}

div#selectOptionsRow {
  margin-top: 1em;
}
