<div class="row col-xs-offset-0">
  <h1>Anstehende Events</h1>


  <div>
    Events durchsuchen: <input id="eSearch" ng-model="searchText">
    Sortieren nach: <select ng-model="sorting">
      <option value="+name">Name (Aufsteigend)</option>
      <!--<option value="-name">Name (Absteigend)</option> -->
      <option value="+date">Datum (Aufsteigend)</option>
     <!-- <option value="-date">Datum (Absteigend)</option> -->
    </select>
  </div>

  <!-- Die einzelnen Events in einer Schleife. -->
  <article id="{{event.id}}" class="col-xs-11 col-md-5 img-rounded semiTransparentBg topSpaceOutside minHeightCategories hoverAnimation"
           ng-repeat="event in pAEvents.items | filter: searchText | orderBy: sorting"
           style="margin: 5px;   box-shadow: 3px 3px 15px #c1c5c6;">
    <h2><a href="/#/single-event/{{event.id}}">{{event.name}}</a></h2>

    <p>{{event.description}}</p>
    <img class="img-rounded" src="{{event.picture}}">

    <p><br />Wann: {{event.date | date:"EEE - dd.MM.yy 'um' HH:mm"}}</p>
    <p>Wo: {{event.location}}</p>


  </article>
</div>
